* {
	font-family: "Questrial", sans-serif;
}

.form-control {
	margin-bottom: 5px;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.navbar {
    margin-bottom:0;
    margin-top:0;
}

/* Main marketing message and sign up button */
.jumbotron {
    background-image: url("/images/jumbotron-library.jpg") no-repeat center center;
    background-size: 100%;
	width: 100%;
    margin-top:-20px;
    height:500px;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
    
}

/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 0px;
  padding-bottom: 0px;
}

footer {
    margin-top:100px;
}

#counseltree-title {
    color: 	white;
}

.fa {
    color:lightgrey;
    margin-top:-5px;
    font-size: 1.5em;
}

.glyphicon {
    font-size: 30px;
	width: 100%;
	margin-left: 0 auto;
}

.glyph-div {
	margin: auto;
	width:20%;
}

.card-title, .card-text {
    text-align: center;
}

iframe {
	width: 90%;
	height:300px;
	margin: 10px auto;
	display:block;
	
}

.form-control {
	width:800px;
}

.form-paragraph {
	color: grey;
	font-size: 10px;
}

.jumbotron-head {
	color: white;
}