* {
	font-family: "Questrial", sans-serif;
}

.form-control {
	margin-bottom: 5px;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.navbar {
    margin-bottom:0;
    margin-top:0;
}

/* Main marketing message and sign up button */
.jumbotron {
    background-image: url("images/jumbotron-library.jpg");
		background-size: 100%;
		width: 100%;
    margin-top:-20px;
    height:510px;
}

.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;

}

/* Move down content because we have a fixed navbar that is 50px tall */

a:link, a:visited {
	color:	#5cb85c;
}

body {
  padding-top: 0px;
  padding-bottom: 0px;
}

footer {
    margin-top:100px;
}

#counseltree-title {
    color: 	white;
}

.fa-handshake-o {
    color:#f9f9f9;
    margin-top:-5px;
    font-size: 1.5em;
}

.glyphicon {
    font-size: 30px;
	width: 100%;
	margin-left: 0 auto;
}

.glyph-div {
	margin: auto;
	width:20%;
}

.card-title, .card-text {
    text-align: center;
}

iframe {
	margin: 10px auto;
	display:block;

}

.jumbotron-about {
    background-image: url("images/jumbotron-about.jpg");
		width: 100%;
    margin-top:-20px;
    height:275px;
    background-position: 0px 100px;
		background-size: 100%;
		color:white;

}


.about {
    text-indent: 50px;
}

.prof-pic {
    width:100px;
    height:100px;
    float:left;
    padding-right: 10px;

}

.form-control {
	width:800px;
}

.form-paragraph {
	color: grey;
	font-size: 10px;
}

.card-block {
	width:75%;
}

.email-submit {
	width: 75%;
}

.list-group-item:hover {
    background-color: #e6e9ef;
    transform: scale(1.01)

}

footer {
	background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}


footer a {
	color: white;
}


footer a:hover {
	text-decoration: none;
    color:grey;
}

.tour-step-image {
    padding-bottom: 10px;
    width:95%;
}

.modal-title {
	color: #5cb85c;
}
